In [1]:
# import relevant libraries
import pandas as pd
import numpy as np

In [2]:
# read dataset into dataFrame, overview of dataset
strokeData = pd.read_csv('cleanedDataset.csv')
strokeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    5110 non-null   float64
 1   hypertension           5110 non-null   int64
 2   heart_disease          5110 non-null   int64
 3   avg_glucose_level      5110 non-null   float64
 4   bmi                    5110 non-null   float64
 5   stroke                 5110 non-null   int64
 6   gender_Female          5110 non-null   float64
 7   gender_Male            5110 non-null   float64
 8   married_No             5110 non-null   float64
 9   married_Yes            5110 non-null   float64
 10  work_Govt_job          5110 non-null   float64
 11  work_Never_worked      5110 non-null   float64
 12  work_Private           5110 non-null   float64
 13  work_Self-employed     5110 non-null   float64
 14  work_children          5110 non-null   float64
 15  residence_Rural        5110 non-null   float64
 16  residence_Urban        5110 non-null   float64
 17  smoke_Unknown          5110 non-null   float64
 18  smoke_formerly smoked  5110 non-null   float64
 19  smoke_never smoked     5110 non-null   float64
 20  smoke_smokes           5110 non-null   float64
dtypes: float64(18), int64(3)
memory usage: 838.5 KB

In [3]:
strokeData.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,married_No,married_Yes,...,work_Never_worked,work_Private,work_Self-employed,work_children,residence_Rural,residence_Urban,smoke_Unknown,smoke_formerly smoked,smoke_never smoked,smoke_smokes
0,67.0,0,1,228.69,36.600000,1,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,61.0,0,0,202.21,28.893237,1,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,80.0,0,1,105.92,32.500000,1,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,49.0,0,0,171.23,34.400000,1,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,79.0,1,0,174.12,24.000000,1,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [4]:
# defining features and target
X = strokeData.drop(columns='stroke', axis=1)
y = strokeData['stroke']

In [5]:
X

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,married_No,married_Yes,work_Govt_job,work_Never_worked,work_Private,work_Self-employed,work_children,residence_Rural,residence_Urban,smoke_Unknown,smoke_formerly smoked,smoke_never smoked,smoke_smokes
0,67.0,0,1,228.69,36.600000,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,61.0,0,0,202.21,28.893237,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,80.0,0,1,105.92,32.500000,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,49.0,0,0,171.23,34.400000,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,79.0,1,0,174.12,24.000000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80.0,1,0,83.75,28.893237,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5106,81.0,0,0,125.20,40.000000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5107,35.0,0,0,82.99,30.600000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5108,51.0,0,0,166.29,25.600000,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5109,44.0,0,0,85.28,26.200000,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [6]:
y

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [7]:
# import sklearn libraries
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, recall_score

In [8]:
# import SMOTE
from imblearn.under_sampling import RandomUnderSampler

In [9]:
# split data 70-30
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

In [10]:
# oversample target variable
undersample = RandomUnderSampler()
X_undersample, y_undersample = undersample.fit_resample(X_train, y_train)
print(y_undersample.value_counts())

1    174
0    174
Name: stroke, dtype: int64

In [11]:
# import sklearn library - SVM
from sklearn.svm import SVC

In [12]:
# create Classifier for Support Vector Machine - svm
undersample_svm = SVC(kernel='linear')

In [13]:
# fit classifier into oversampled training data
undersample_svm.fit(X_undersample, y_undersample)

SVC(kernel='linear')

In [14]:
# predict labels of oversampled test dataset
y_pred = undersample_svm.predict(X_test)

In [15]:
# compute and print oversampled confusion matrix
print(confusion_matrix(y_test, y_pred))

[[985 473]
 [ 14  61]]

In [16]:
# compute and print oversampled classification report
print(classification_report(y_test, y_pred, target_names=['noStroke', 'stroke']))

              precision    recall  f1-score   support

    noStroke       0.99      0.68      0.80      1458
      stroke       0.11      0.81      0.20        75

    accuracy                           0.68      1533
   macro avg       0.55      0.74      0.50      1533
weighted avg       0.94      0.68      0.77      1533

In [17]:
# recall score
recall = recall_score(y_test, y_pred)
print(recall)

0.8133333333333334

In [18]:
print(f"Support Vector Undersampling recall rate: {recall*100:.2f}%")

Support Vector Undersampling recall rate: 81.33%